.RegisterComponentErrorMessages {
  text-align: left;
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
  font-style: italic;
  padding: 0 0.1rem;
}
.RegisterComponentWrapper {
  animation: scaleAnimationFromTopLeftCorner 0.3s ease-out 0s 1 alternate;
  transform-origin: left top;
}
