@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Light.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Light.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Bold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Black.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Imported;
  src: url(../public/fonts/Roboto-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
#root {
  font-family: Imported, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
}

a {
  text-decoration: none;
  color: #4389d7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  outline: none;
}
input::placeholder {
  font-size: small;
}
